変更要求が承認待ちです。

タイトル: {{ title }}
申請者: {{ requested_by }}
申請日時: {{ requested_at }}
プロジェクト: {{ project_name }}

変更要求 ID: {{ change_id }}

詳細は以下の URL からご確認ください:
{{ app_url }}/itsm/changes/{{ change_id }}

--
ServiceHub Construction Platform
{{ app_url }}
