日報が提出されました。

プロジェクト: {{ project_name }}
提出者: {{ submitted_by }}
提出日時: {{ submitted_at }}

日報 ID: {{ report_id }}

詳細は以下の URL からご確認ください:
{{ app_url }}/projects/{{ project_id }}/reports/{{ report_id }}

--
ServiceHub Construction Platform
{{ app_url }}
