インシデントが担当者に割り当てられました。

タイトル: {{ title }}
担当者: {{ assignee_name }}
割り当て日時: {{ assigned_at }}
プロジェクト: {{ project_name }}

インシデント ID: {{ incident_id }}

詳細は以下の URL からご確認ください:
{{ app_url }}/itsm/incidents/{{ incident_id }}

--
ServiceHub Construction Platform
{{ app_url }}
