<!DOCTYPE html>
<html lang="ja">
<body>
<p>インシデントが担当者に割り当てられました。</p>
<table>
  <tr><th>タイトル</th><td>{{ title }}</td></tr>
  <tr><th>担当者</th><td>{{ assignee_name }}</td></tr>
  <tr><th>割り当て日時</th><td>{{ assigned_at }}</td></tr>
  <tr><th>プロジェクト</th><td>{{ project_name }}</td></tr>
</table>
<p><a href="{{ app_url }}/itsm/incidents/{{ incident_id }}">インシデントを確認する</a></p>
<hr>
<small>ServiceHub Construction Platform</small>
</body>
</html>
