プロジェクトのステータスが変更されました。

プロジェクト: {{ project_name }}
旧ステータス: {{ old_status }}
新ステータス: {{ new_status }}
変更者: {{ changed_by }}
変更日時: {{ changed_at }}

プロジェクト ID: {{ project_id }}

詳細は以下の URL からご確認ください:
{{ app_url }}/projects/{{ project_id }}

--
ServiceHub Construction Platform
{{ app_url }}
